# Yocto build output
build-qcom-wayland/

# Shared state cache
sstate-cache/

# Downloaded sources
downloads/

# Logs and temp files
*.log
*.lock

# IDE files
.vscode/
.idea/

# Repo metadata (from repo tool, not git)
#.repo/

# Misc
*~ 
